body{
    background-color: #2e648b;
}

header{
    border: solid 1px #2e648b;
    background-color: #2e648b;
    border-bottom: solid 1px goldenrod;

}

header h1{
    color: goldenrod;
    text-align: center;
}