body{
    background-color: #2e648b;
}

header{
    border: solid 1px #2e648b;
    background-color: #2e648b;
    

}

header h1{
    color: goldenrod;
    text-align: center;
}

nav{
    border: solid 1px goldenrod;
    background-color: #2e648b;
    text-align: center;
    width: 100%;
    
    

}

nav li{
    display: inline-flex;
    justify-content: space-around;
    padding-right: 50px;
    font-size: 20px;
    text-decoration: none;
   
    
    
}

.container {
    display:flex;
    justify-content:center;

}
.container img{
    width: 400px;
    height: 400px;
    
}

/*bio section*/

.Bio h1 {
   
    text-align: center;
    font-size: 28px;
    font-family: helvetica;
    color: goldenrod;
    
}

.Bio{

width: 105%;
z-index: -1;

}

.profile{
    border: solid 0.5px goldenrod;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.profile img{
  
    width: 800px;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    
   
}

p{
    text-align: center;
    font-size: 24px;
    color: goldenrod;
    /*line-height: 0.5;*/
    
}





.Time{
    text-align: center;
    border: solid 0.5px goldenrod;
    width: 100%;
    
}

.Time h1{
    font-size: 32px;
    color: goldenrod;
}

.Time span{
    color:goldenrod;
}

.Time li {
    display: inline-flex;
    justify-content: space-around;
    font-size: 36px;
    color: bisque;
}


.Projects {
    border: solid 0.5px goldenrod;
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-family: Georgia;
    color: goldenrod;
   
}

.messages{
    width: 600px;
    height: 600px;
    text-align: center;
    color: bisque;
    
}

.messages img{
    width: 400px;
    height: 400px;
    
}

#openM{
    width: 200px;
    width: 200px;
    font-size: 18px;
    border:none;
    border-radius: 5px;
    display: inline-block;
    background-color: goldenrod;
    margin: 10 auto;
    margin-top: 85px;
    cursor: pointer;
    font-family:  'Times New Roman';
}

#mixedM{
    display: none;
    width: 600px;
    height: 400px;
    margin: 0 auto;
}

#closeM{
    
    width: 200px;
    width: 200px;
    font-size: 18px;
    border:none;
    border-radius: 5px;
    display: inline-block;
    background-color: goldenrod;
    margin: 10 auto;
    margin-top: 25px;
    cursor: pointer;
    font-family:  'Times New Roman';
    display: none;
}

.weFix{
    width: 600px;
    height: 600px;
    text-align: center;
    color: bisque;
    
}

#openW{
    width: 200px;
    width: 200px;
    font-size: 18px;
    border:none;
    border-radius: 5px;
    display: inline-block;
    background-color: goldenrod;
    margin: 10 auto;
    margin-top: 85px;
    cursor: pointer;
    font-family:  'Times New Roman';
    
}

#weFixM{
    display: none;
    width: 600px;
    height: 400px;
    margin: 0 auto;
}


#closeW{
    width: 200px;
    width: 200px;
    font-size: 18px;
    border:none;
    border-radius: 5px;
    display: inline;
    background-color: goldenrod;
    margin: 10 auto;
    margin-top: 25px;
    cursor: pointer;
    font-family:  'Times New Roman';
    display: none;
}

.vids{
    display: flex;
    justify-content: center;
    align-content: center;
   
   
}

.vids img{
    width: 400px;
    height: 400px;
}


.karate{
    width: 600px;
    height: 600px;
    text-align: center;
    color: bisque;
    
}

#openK{
    width: 200px;
    width: 200px;
    font-size: 18px;
    border:none;
    border-radius: 5px;
    display: inline-block;
    background-color: goldenrod;
    margin: 10 auto;
    margin-top: 85px;
    cursor: pointer;
    font-family:  'Times New Roman';
    
    
}

#karateM{
    display: none;
    width: 600px;
    height: 400px;
    margin-right: 250px;
}


#closeK{
    width: 200px;
    width: 200px;
    font-size: 18px;
    border:none;
    border-radius: 5px;
    display: inline;
    background-color: goldenrod;
    margin: 10 auto;
    margin-top: 25px;
    cursor: pointer;
    font-family:  'Times New Roman';
    display: none;
}

.Skills{
    text-align: center;
    font-size: 32px;
    font-family: Georgia;
    color: goldenrod;
   
   
}

.Skills img{
    display: inline-block;
    margin-right: 50px;
    width: 200px;
    height: 200px;
}


.copyright{
    text-align: center;
    font-size: 18px;
    font-family: Georgia;
    color: goldenrod;
   
   
}