body{
    background-color: #2e648b;
}

header{
    border: solid 1px #2e648b;
    background-color: #2e648b;
    

}

header h1{
    color: goldenrod;
    text-align: center;
}

nav{

    border: solid 1px goldenrod;
    background-color: #2e648b;
    text-align: center;
    width: 100%;
   
    
    

}

nav li{
    display: inline-flex;
    justify-content: space-around;
    padding-right: 50px;
    font-size: 20px;
    text-decoration: none;
   
    
    
}

.container {
    display:flex;
    justify-content:center;

}
.container img{
    width: 400px;
    height: 400px;
    
}

/*bio section*/

.Bio h1 {
   
    text-align: center;
    font-size: 28px;
    font-family: helvetica;
    color: goldenrod;
    
}

.Bio{

width: 100%;




}

.profile{
    border: solid 0.5px goldenrod;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile img{
  
    width: 500px;
    height: 500px;
   
}

p{
    text-align: center;
    font-size: 24px;
    color: goldenrod;
    /*line-height: 0.5;*/
    
}





.Time{
    text-align: center;
    border: solid 0.5px goldenrod;
    width: 100%;
    
}

.Time h1{
    font-size: 32px;
    color: goldenrod;
}

.Time span{
    color:goldenrod;
}

.Time li {
    display: inline-flex;
    justify-content: space-around;
    font-size: 36px;
    color: bisque;
}


.Projects {
    border: solid 0.5px goldenrod;
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-family: Georgia;
    color: goldenrod;
   
}

.messages{
    width: 600px;
    height: 600px;
    text-align: center;
    color: bisque;
    
}

.messages img{
    width: 400px;
    height: 400px;
    
}

#openM{
    
    width: 200px;
    font-size: 18px;
    border:none;
    border-radius: 5px;
    display: inline-block;
    background-color: goldenrod;
    margin: 10 auto;
    margin-top: 85px;
    cursor: pointer;
    font-family:  'Times New Roman';
}

#mixedM{
    display: none;
    width: 600px;
    height: 400px;
    margin: 0 auto;
}

#closeM{
    
    
    min-width: 200px;
    font-size: 18px;
    border:none;
    border-radius: 5px;
    display: inline-block;
    background-color: goldenrod;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
    font-family:  'Times New Roman';
    display: none;
}

.weFix{
    width: 600px;
    height: 600px;
    text-align: center;
    color: bisque;
    
}

#openW{
    min-width: 200px;
    font-size: 18px;
    border:none;
    border-radius: 5px;
    display: inline-block;
    background-color: goldenrod;
    margin: 10 auto;
    margin-top: 85px;
    cursor: pointer;
    font-family:  'Times New Roman';
    
}

#weFixM{
    display: none;
    width: 600px;
    height: 400px;
    margin: 0 auto;
}


#closeW{
    
    width: 200px;
    font-size: 18px;
    border:none;
    border-radius: 5px;
    display: inline;
    background-color: goldenrod;
    margin: 0 auto;
    margin-top: 50px;
    cursor: pointer;
    font-family:  'Times New Roman';
    display: none;
}

.vids{
    display: flex;
    
    
    
   
   
}

.vids img{
    width: 400px;
    height: 400px;
}


.karate{
    width: 600px;
    height: 600px;
    text-align: center;
    color: bisque;
    
}

#openK{
    
    width: 200px;
    font-size: 18px;
    border:none;
    border-radius: 5px;
    display: inline-block;
    background-color: goldenrod;
    margin: 10 auto;
    margin-top: 85px;
    cursor: pointer;
    font-family:  'Times New Roman';
    
    
}

#karateM{
    display: none;
    width: 600px;
    height: 400px;
    margin-right: 250px;
}


#closeK{
    
    width: 200px;
    font-size: 18px;
    border:none;
    border-radius: 5px;
    display: inline;
    background-color: goldenrod;
    margin: 0 auto;
    margin-top: 25px;
    cursor: pointer;
    font-family:  'Times New Roman';
    display: none;
}

.Skills{
    text-align: center;
    font-size: 32px;
    font-family: Georgia;
    color: goldenrod;
   
   
}

.Skills img{
    display: inline-block;
    margin-right: 50px;
    width: 200px;
    height: 200px;
}


.copyright{
    text-align: center;
    font-size: 18px;
    font-family: Georgia;
    color: goldenrod;
   
   
}

.details{
    border: solid 1px goldenrod;
    width: 100%;
    text-align: center;
    font-family: Georgia;
    font-size: 18px;
    color: rgb(182, 173, 173);
}

.details img{
    width: 150px;
    height: 150px;
}

form{
    text-align: center;
    color: rgb(182, 173, 173);
}

.Pro{
    font-family: Arial;
    font-size: 18px;
    color: bisque;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
}


.WeFixP img{
    width: 300px;
    height: 300px;
}

.KarateP img{
    width: 300px;
    height: 300px;
    
}

.Generator{
    border: 2px solid goldenrod;
    color: goldenrod;
    position: relative;
    margin-left: 300px;
    width: 80%;
    height: 600px;
    display:flex;
    justify-content:center;
   
    
}

#buttonContainer{
    position: relative;
    top: 100px;
    right: 180px;
    
}

#heroButton{
    padding: 10px;
    font-size: 12px;
    background-color: goldenrod;
    color: whitesmoke;
    border: 1px solid goldenrod;
    border-radius: 5px;
    cursor: pointer;
}

#hero{
    color: black;
    font-size: 24px;
    text-align: center;
    
}


@media screen and (max-width: 390px) {
    .Bio p{
       font-size: 8px;
        
    }

    .profile img{
        width: 300px;
        height: 300px;
    }

    .Projects h1{
        font-size: 16px;
    }

  
}

@media  screen and (min-width: 400px) {
    .vids{
      
        display:flex;
        justify-content:space-between;
        flex-wrap: wrap;
    }



}

@media screen and (min-width:480px) {
    .Generator{
       top:100px;
        width: 100%;
        height: 300px;
        right:305px;
        
    }

    form #Name, #Phonenumber, #Email{
        font-size: 22px;
        width: 500px;

    }

    form{
        font-size: 36px;
    }
}